<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JAXBXJCTool/src/biostar/Biostar95284.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="biostar.Biostar95284"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="rs25 rs26  rs373163331 rs3746037 rs1977676"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JAXBXJCTool"/>
</launchConfiguration>
